<h2>Herzlich Willkommen!</h2>
<div class="container">
  <table>
    <tr>
      <td>
        <span class="infoTextSpan" for="overdueTickets">Überfällige Tickets</span>
        <div>
          <p class="infoText" id="overdueTickets">0</p>
        </div>
      </td>
      <td>
        <span class="infoTextSpan" for="ticketsForToday">Tickets für Heute</span>
        <div>
          <p class="infoText" id="ticketsForToday">{{ todayTickets }}</p>
        </div>
      </td>
      <td>
        <span class="infoTextSpan" for="openedTickets">Öffene Tickets</span>
        <div>
          <p class="infoText" id="openedTickets">{{openedTickets}}</p>
        </div>
      </td>
      <td>
        <span class="infoTextSpan" for="waitingScale">Warteschlange</span>
        <div>
          <p class="infoText" id="waitingScale">{{totalTickets}}</p>
        </div>
      </td>
      <td>
        <span class="infoTextSpan" for="noAssigned">Nicht zugewiesen</span>
        <div>
          <p class="infoText" id="noAssigned">{{ nonAppendTickets }}</p>

        </div>
      </td>
      <td>
        <span class="infoTextSpan" for="markedTickets">Markierte Tickets</span>
        <div>
          <p class="infoText" id="markedTickets">0</p>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="bigCell">
        <p class="infoText">Alle Tickets</p>
        <div>
          <canvas baseChart
                  [labels]="doughnutChartLabels"
                  [datasets]="doughnutChartDatasets"
                  [options]="doughnutChartOptions"
                  [legend]="true"
                  [type]="'doughnut'" style="margin-bottom: 10px">
          </canvas>
        </div>
      </td>
      <td class="bigCell">
        <p class="infoText">Baustelle</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
          <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9s-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12m-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4s1.2-.036 1.725-.098m4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257z"/>
        </svg>
      </td>
    </tr>
  </table>
</div>
