h2 {
  color: #b0b0b0;
  text-align: center;
  margin-top: 20px;
}

.container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1500px;
}

#firstTable {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 20px;
}

.ticket-list {
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  width: auto;
  max-width: 600px;
  padding-left:10px;
  padding-right:10px;
  background-color: #606060;
  color: #b0b0b0;
}

th {
  background-color: #333;
  color: #ddd
}

.bigCell {
  width: 450px;
}

.infoTextSpan {
  font-size: 16px;
}

.infoText {
  font-size: 32px;
  text-align: center;
}
