<div class="grid-container">
    <div class="grid-item" style="grid-row: span 2;">1</div>
    <div class="grid-item">
        <label class="label" for="benutzername">Benutzername</label>
        <input type="text" id="benutzername" class="input"></div>
    <div class="grid-item">
        <label class="label" for="vorname">Vorname</label>
        <input type="text" id="vorname" class="input"></div>  
    <div class="grid-item">
        <label class="label" for="nachname">Nachname</label>
        <input type="text" id="nachname" class="input"></div>
    <div class="grid-item">
        <label class="label" for="anschrift">Anschrift</label>
        <input type="text" id="anschrift" class="input"></div>  
    <div class="grid-item">
        <label class="label" for="stadt">Stadt</label>        
        <input type="text" id="stadt" class="input"></div>
    <div class="grid-item">
        <label class="label" for="plz">Postleitzahl</label>
        <input type="text" id="plz" class="input"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <label class="label" for="email">Kontakt E-mail</label>
        <input type="text" id="email" class="input"></div>
    <div class="grid-item">
        <label class="label" for="qualifikationen">Qualifikationen</label>
        <select type="dropdown" id="qualifikationen" class="input"></select>
    </div>
    <div class="grid-item">
        <label class="label" for="isAdmin">Ist ein Admin?</label>
        <input type="checkbox" id="isAdmin" class="input"></div>
  </div>