.tooltip-combo {
  width: 220px;
  height: 20px;
  background-color: #707070;
  border-radius: 5px;
  user-select: none;
}

.tooltip-combo-text {
  padding-left: 3px;
  float: left;
  position: relative;
  width: 0;
  height: 20px;
}

.tooltip-combo-hover {
  visibility: hidden;
  transform: translate(-3px, 20px);
  padding: 5px;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
}

.tooltip-combo:hover .tooltip-combo-hover {
  visibility: visible;
}

.row-part {
  display: inline-block;
}

.col-part {
  display: block;
}

.info-text {
  font-size: 10px;
  padding-left: 3px;
  color: #707070;
}

table, th, td {
   border: 0px solid black;
 }

.mat-icon {
  font-size: 20px;
  color: #b0b0b0;
}
