<div>
  <div style="height: 20px"></div>
  <div class="head-line font-shadow">
    Ticket erstellen
  </div>
  <div style="height: 10px"></div>
  <table [style.width]="dataService.width() - 120 + 'px'" style="margin-left: 50px; user-select: none;">
    <tr>
      <th style="text-align: right; width: 180px" >
      </th>
      <th style="text-align: left;" >
      </th>
    </tr>
    <tr>
      <td style="text-align: right; vertical-align: top; font-style: italic; padding-right: 10px;">
        <div class="font-shadow" style="margin-top: 4px">Titel</div>
      </td>
      <td style="text-align: left; vertical-align: top">
        <input [(ngModel)]="title" placeholder="Titel" class="input-field font">
      </td>
    </tr>
    <tr style="height: 20px">
    </tr>
    <tr>
      <td style="text-align: right; vertical-align: top; font-style: italic; padding-right: 10px;">
        <div class="font-shadow" style="margin-top: 4px">Beschreibung</div>
      </td>
      <td style="text-align: left; vertical-align: top">
        <textarea [(ngModel)]="description" placeholder="Beschreibung" class="big-input-field font"></textarea>
      </td>
    </tr>

    <tr style="height: 20px">
      <td></td>
      <td><div class="separator"></div></td>
    <tr>
      <td style="text-align: right; vertical-align: top; font-style: italic; padding-right: 10px;">
        <div class="font-shadow">Kategorien</div>
      </td>
      <td style="text-align: left; vertical-align: top; display: inline-block;">
        <div *ngFor="let category of dataService.categories" style="float:left; width: 320px; transform: translate(6px, 0)">
          <input [(ngModel)]="categories[category]" type="checkbox" id="{{category}}">
          <label class="font-shadow" for="{{category}}">{{category}}</label>
        </div>
      </td>
    </tr>
    <tr style="height: 20px">
      <td></td>
      <td><div class="separator"></div></td>
    <tr>
      <td style="text-align: right; vertical-align: top; font-style: italic; padding-right: 10px;">
        <div style="height: 9px"></div>
        <div class="font-shadow">Anhang</div>
      </td>
      <td style="text-align: left; vertical-align: top; display: inline-block;">
        <div style="transform: translate(10px, 0)">
          <div style="height: 10px"></div>
          <div>
            <label for="files" class="button">Datein auswählen</label>
            <input id="files" style="visibility:hidden;" type="file" multiple (change)="fillFiles($event)">
          </div>
          <div style="height: 5px"></div>
          <div style="margin-top: 5px">
            <div style="height: 20px" *ngIf="files.length > 0"></div>
            <div *ngFor="let file of files" style="float:left; width: 420px;">
              <span (click)="deleteFile(file)" class="material-icons mat-icon button" style="font-size: 20px; margin: 3px; float:left; padding: 10px">delete</span>
              <div style="float:left; width: 360px; min-height: 40px; margin: 3px;">
                <div style="top: 50%; position:relative;" class="font font-shadow">
                  {{file.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height: 20px">
      <td></td>
      <td><div class="separator"></div></td>
    <tr>
      <td class="font-shadow" style="text-align: right; vertical-align: top; font-style: italic; padding-right: 10px;">
      </td>
      <td style="text-align: left; vertical-align: top; display: inline-block; color: white">
        <div class="button-special" (click)="create()">
          Ticket erstellen
        </div>
      </td>
    </tr>
  </table>
  <div style="height: 50px"></div>
</div>
