<div [draggable]="false" (mousemove)="dataService.sideBarService.moveMouse($event)" (dragend)="dataService.sideBarService.up()" (mouseup)="dataService.sideBarService.up()">
  <app-nav-bar style="width: 100%" />

  <div class="font background-color clickable" [style.height]="dataService.height() + 'px'" [style.width]="dataService.width() + dataService.sideBarService.sideBarWidth + 'px'">
    <app-side-bar style="float:left;" [style.width]="this.dataService.sideBarService.sideBarWidth + 'px'"></app-side-bar>
    <div [draggable]="false" class="font" [style.height]="dataService.height() + 'px'" [style.width]="dataService.width() + 'px'" style="float:left; overflow: scroll scroll">
      <router-outlet [draggable]="false" style="user-select: none; pointer-events: all;"></router-outlet>
    </div>

    <div style="width: .4%; float:right; height: 95%; transform: translate(-50%, 0)" [style.left]="this.dataService.sideBarService.sideBarWidth + 'px'"
         class="side-bar-resizer clickable"
         (dragstart)="dataService.sideBarService.down()"
         (mousedown)="dataService.sideBarService.down()"
         (drag)="dataService.sideBarService.moveMouse($event)">
      <div class="side-bar-line clickable"></div>
    </div>
  </div>
  <div [style.left]="dataService.sideBarService.sideBarWidth + 'px'"
       [style.transform]="'translate(' + (this.dataService.sideBarService._fix ? .3 : -2.3) + 'em, 0)'"
       [style.transition]="transitionFix()"
       class=" side-bar-button transparent-button"
       (click)="dataService.sideBarService.fixx = !dataService.sideBarService._fix">
    <span *ngIf="dataService.sideBarService._fix" class="mat-icon material-icons">chevron_right</span>
    <span *ngIf="!dataService.sideBarService._fix" class="mat-icon material-icons">chevron_left</span>
  </div>
</div>

