<ng-container *ngIf="isMobile(); then mobile else computer">
</ng-container>
<ng-template #mobile>s</ng-template>

<ng-template #computer>
  <div class="nav-background-computer" [style.height]="dataService.height() * 0.05 - 1 + 'px'">
    <div style="float:left;">
      <span class="material-icons mat-icon clickable" [style.font-size]="dataService.height() * 0.05 + 'px'" (click)="dataService.redirect('homepage')">home</span>
    </div>
    <div style="float:right;">
      <span class="material-icons mat-icon clickable" [style.font-size]="dataService.height() * 0.05 + 'px'" (click)="h()">add</span>
      <span class="material-icons mat-icon clickable" [style.font-size]="dataService.height() * 0.05 + 'px'">delete</span>
    </div>
  </div>
  <div class="nav-background-computer" style="background-color: #333399" [style.height]="'1px'"></div>
</ng-template>
