/* You can add global styles to this file, and also import other style files */




::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #00000033;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px #00000033;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #00000020;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000050;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00000060;
}

.font-shadow {
  text-shadow: 2px 2px 4px #00000044;
}

.font {
  font-family: "Tahoma", sans-serif;
  color: #b0b0b0;
}

.bold {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  color: #b0b0b0;
}

.head-line {
  user-select: none;
  margin-left: 40px;
  font-size: 30px;
}

.input-field {
  border-radius: 6px;
  border: 3px #404040 solid;
  background-color: #404040;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  box-shadow: 2px 2px 5px #00000044;
  font-size: 17px;
}

.input-field::placeholder {
  color: #909090;
}

.big-input-field::placeholder {
  color: #909090;
}

.big-input-field {
  border-radius: 6px;
  border: 3px #404040 solid;
  background-color: #404040;
  height: 160px;
  resize: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  box-shadow: 2px 2px 5px #00000044;
  font-size: 17px;
}

.separator {
  height: 1px;
  box-shadow: 3px 2px 3px #00000044;
  margin: 20px 0 19px 0;
  background-color: #707070;
  width: 100%;
}

.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  background-color: #404040;
  transition: 0.5s;
  box-shadow: 2px 2px 5px #00000044;
}

.button:hover {
  background-color: #707070;
  transition: 0.5s;
}

.button:active {
  background-color: #909090;
  transition: 0.2s;
}

.button-special {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  background-color: #2b47be;
  transition: 0.5s;
  box-shadow: 2px 2px 5px #00000044;
}

.button-special:hover {
  background-color: #4b67de;
  transition: 0.5s;
}

.button-special:active {
  background-color: #5b77ee;
  transition: 0.2s;
}

.button-shadow {
  text-shadow: 2px 2px 4px #00000044;
}

.button-shadow:hover {
  text-shadow: 2px 2px 7px #00000099;
}

.button-shadow:active {
  text-shadow: 2px 2px 10px #000000cc;
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  z-index: 0;
  -webkit-appearance: none;
}

[type="checkbox"] + label {
  position: absolute;
}

[type="checkbox"] + label::before {
  transition: .13s;
  width: .94em;
  height: .94em;
  border-radius: 4px;
  background-color: red;
  top: 2px;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 .47em #707070;
}

[type="checkbox"]:hover+label::before {
  box-shadow: inset 0 0 0 .47em #909090;
}

[type="checkbox"]:checked:hover+label::before {
  box-shadow: inset 0 0 0 .2em #c7c7c7;
  background-color: #6b6bdc;
}

[type="checkbox"]:checked:active+label::before {
  box-shadow: inset 0 0 0 .2em #c7c7c7;
  background-color: #dc6b6b;
}

[type="checkbox"]:checked+label::before {
  box-shadow: inset 0 0 0 .18em #c0c0c0;
  background-color: #5a5acb;
}

.side-bar-resizer {
  position: fixed;
  cursor: col-resize;
  background-color: transparent;
}

.side-bar-line {
  transition: .2s;
  transform: translate(-50%, 5%);
  height: 90%;
  background-color: #707070;
  border-radius: 10px;
  width: 2px;
  left: 50%;
  position: relative;
}

.side-bar-resizer:hover .side-bar-line {
  width: 4px;
}
